body {
	background-size:100%;
}

* {
	font-family: "News Cycle";       
}
                     /* info General font */


h2 {
	font-size : 55px;
	text-align : center;		
}

/*h2 sont nos titre de nos blocs*/

h3 {
	font-size : 22px;
	text-align : center;
}
/*h3 sont nos sous-titre de nos blocs*/

p {
	font-size : 17px;
	text-align : center;
}

/*p sont les paragraphes de nos blocs*/

ul {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: white;
	
}

/*ul est notre liste pour le titre principal et le menu*/

li {
	float:left;
}

li a {
    	display: block;
    	color: black;
   	text-align: center;
    	padding: 40px 10px;
    	text-decoration: none;
}

.titre {
	font-size:55px;
	margin-left:100px;
	
}

.menu {
	float:left;
	
}




.haut {
	width:100%;
	height: 700px;
	background-image : url("images/banner.png");
	background-repeat : no-repeat;
	background-attachment : scroll;
	background-color : #27AE61;
	background-size: 100%;
	opacity : 0.8;
	margin: 0 auto;
}
/*ci-dessus ce trouve le 1er blocs*/
.img {
	display : inline-block;
	width : 160px;
	height : 160px;
	border-radius : 320px;				
	background-size: 100%;
	margin-left:50px;
}
/* 1er bloc de .haut a texte blanc*/
.img1 {
	background-image : url('images/pic01.jpg');
}
.img2 {
        background-image : url('images/pic02.jpg');
}
.img3 {
        background-image : url('images/pic03.jpg');
}


#image {
	margin :0 auto;
	width : 700px;
	padding-top: 50px;
}

/*ci-dessus ce trouve les infos de nos image */

.texteblanc {
	width: 1000px;
	height: 264px;
	padding-bottom: 240px;
	text-align: center;
	color : #FFFFFF;
	margin :0 auto;
	padding: 0 auto;
} 

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button1 {
	border-radius:12px;
	background-color:#2B3F48;
	margin-top:50px;
}

.button2 {
	border-radius:12px;
	background-color:#27AE61;
	margin-top:90px;
}

.button3 {
	border-radius:12px;
	background-color:white;
	margin-top:100px;
	color:#27AE61;
}
.milieu  {
        height : 617px;
        width : 100%;
        background-color:#EEEEEE ; /* 2ème bloc*/
        padding-top: 50px;

}
#textevert {
	width: 1000px;
	height: 264px;
	padding-bottom: 240px;
	text-align : center;
	color: #2B3F48;
	margin :0 auto;
} 


.bas {

 	height : 603px;
    width : 100%;
    background-color: #27AE61;  /* 3ème bloc*/
    padding-top: 50px;
    margin: 0 auto;
}

footer {
	width: 1000px;
	height: 206px;
	background-color :#EEEEEE; /* le footer*/
	text-align: center;
	line-height: 206px;
	margin:  0 auto;
}

