.container {
	height : 100%;
	width : 100%
}


@font-face {
    font-family: "News Cycle";
    src: url('//www.google.com/fonts#UsePlace:use/Collection:News+Cycle.ttf');
}

div {width : 1000px
}

h2 {
 font-size : 55px
}

h3 {
 font-size : 22px
}

p {
 font-size : 17px
}

.header {
	height : 103px;
	width : 100%;
	background-color: #EEEEEE; 
	
}

.haut {
	width:100%;
	height: 855px;
	background-image : url("images/banner.png");
	background-repeat : no-repeat;
	background-attachment : fixed;
	background-color : #27AE61;
	opacity : 0.8
}


.image {
	float : left;
}


.milieu  {
        height : 617px;
        width : 100%;
        background-color: #EEEEEE;

}


.bas {

 	height : 603px;
        width : 100%;
        background-color: #27AE61;
}

