body {
	background-color: black;
}

* {
	font-family: 'News Cycle', sans-serif;
}

header {
	background-color: #EEEEEE;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 1000px;
}

h3 {
	float: left;
	vertical-align: top;
	margin-left: 50px;
}

nav ul {
    	/*margin-top: 0px;*/
	vertical-align= middle;
	float: right;
	margin-right: 50px;
}

nav li {
	font-size: 17px;
	display: inline-block;
	padding: 10px;
}

nav li:hover {
	color: #27AE61;
}


